{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Abstract</h1>
            Visit <a href="https://acp.copernicus.org/articles/23/10423/2023/">Paper link</a>
            <p></p>
            <p>
                To evaluate the hygroscopic cloud seeding in reality, this study develops a hybrid microphysics scheme using a Weather Research and Forecasting (WRF) model, WDM6-NCU (WDM6 modified by National Central University), which involves 43 bins of seeded cloud condensation nuclei (CCN) in the WDM6 bulk method scheme. This scheme can describe the size distribution of seeded CCN and explain the process of the CCN imbedding and cloud and raindrop formation in detail.
                Furthermore, based on the observational CCN size distribution applied in the modelling, a series of tests on cloud seeding were conducted during the seeding periods of 21–22 October 2020 with stratocumulus clouds. The model simulation results reveal that seeding in in-cloud regions with an appropriate CCN size distribution can yield greater rainfall and that spreading the seeding agents over an area of 40–60 km2 is the most efficient strategy to create a sufficient precipitation rate. With regard to the microphysical processes, the main process that causes the enhancement of precipitation is the strengthening of the accretion process of raindrops.
                In addition, hygroscopic particles larger than 0.4 µm primarily contribute to cloud-seeding effects. The study results could be used as references for model development and warm-cloud-seeding operations.
            </p>
            <img src="/static/cloud_seeding.png" alt="image" width=700>
            <p id="figure">Figure. Illustration of this research.</p>
{% endblock %}