{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <h1>Abstract</h1>
    <p></p>
    <p>
        Yi-Lan has an unique delta plain surrounded by mountains higher than 2000 m on three sides, and another side faces the Pacific Ocean. With a case study on 26 November 2021, this study attempts to investigate the local circulations at low levels of Yi-Lan area. With four-radar observations, Wind Synthesis System using Doppler Measurements (WISSDOM) is used to retrieve 3D wind fields. By illustrating wind structure below 1-km, different mechanisms of precipitation development can be examined. This study depicts different wind directions of the inflow to Yi-Lan causing different types of convergence and rainfall distributions. Furthermore, the inter-comparison between retrieved wind fields and ensemble simulations is conducted.
    </p>
    <img src="/static/YiLan.png" alt="image" width=900>
    <p id="figure">Figure. Illustration of this research.</p>

{% endblock %}